@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Source+Sans+Pro:wght@300;400&display=swap');

.country-details-con{
    padding: 3em 5em;
    min-height: 100%;

    div{
        .back{
            @include buttons;
            padding: 1em;
            font-size: 16px;

            span{
                margin-left: 10px;
                font-size: $HomeFont;
            }
        }

        .country-details-container{
           @include flex-sb;
            align-items: center;
            margin: 2em auto;
        

            img{
                flex-basis: 50vw;
                height: 400px;
                width: 550px;
                object-fit: cover;
            }

            .right-about{
                flex-basis: 50vw;
                padding-left:5em;
                padding-top: 0;
                .about-country{

                    .about-country-container{
                        @include flex-sb;
                        flex-wrap: wrap;

                        div{

                            p{
                                font-weight: 900;
                                font-size: $HomeFont;

                                span{
                                    font-weight: 100;
                                }
                            }
                        }
                    }
                }


            }
        }
    }
}

.darkmodeDetails{
    @include darkmodeBg;
    button{
        @include darkmodeElement;
    }
}

.lightmodeDetails{
    @include lightmodeBg;
    button{
        @include lightmodeElement;
    }
}

.border{
    @include buttons;
    padding: 0.3em;
    margin-right: 3px;
}


@media (max-width: 600px){
    .country-details-con{
        padding: 2em 2em;
        max-width: 100%;
        min-height: 100%;

        div{
            .country-details-container{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                img{
    
                    height: 300px;
                    width: 80%;
                    object-fit: cover;
                }

                .right-about{
                    flex-basis: 50vw;
                    padding-left:0em;
                    padding-top: 0;

                    .about-country-container{
                        display: flex;
                        flex-direction: column;
                }
            }
         }
        }
    }
}