@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Source+Sans+Pro:wght@300;400&display=swap');
.filter{
    position: relative;
    .filter-btn{
        @include buttons;
        padding: 1.2em 2em;
        font-size: $HomeFont;
        margin-bottom: 1em;
    }

    .filter-list{
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 100000000000;
        list-style-type: none;
        margin: 0;
        border-radius: 5px;
        display: flex;
        flex-direction: column;

    
        button{
            
            padding: 0.75em 0;
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: $HomeFont;
        }
    }


    .lightmodeFilter{
        @include lightmodeElement;
    }

    .darkmodeFilter{
        @include darkmodeElement;
    }

    .darkmodeList{  
        @include darkmodeElement;
    
        button{
            color: $DarkModeText;
        &:hover{
            background-color: $DarkModeBg;
        }
        }
    
    }


    .lightmodeList{  
        @include lightmodeElement;
    
        button{
            color: $LightModeText;
        &:hover{
            background-color: $LightModeBg;
        }
        }    
    }
}

@media (max-width: 600px){
    .filter{
        .filter-btn{
            padding: 0.8em 2em;
        }
    
    }
}