@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Source+Sans+Pro:wght@300;400&display=swap');

*{
    font-family: $fontFamily;
}

.header{
    padding: 1em 0;

    div{
        @include flex-sb;
        margin: 0 5em;
    }
    
    h3{
        font-size: $DetailsFont;
    }

    button{
        @include buttons;
        background-color: transparent;
        font-size: $HomeFont;

        div{
            span{
                margin-left: 7.50px;
            }
        }
    }
}

.darkmodeHeader{
   @include darkmodeElement;

    button{
        color: $DarkModeText;
    }
}

.lightmodeHeader{
    @include lightmodeElement;

    button{
        color: $LightModeText;
    }
}

@media (max-width: 700px){
    .header{
        div{
            margin: 0 2em;
        }
    }
}