@import "variables";
@import "mixins";


@keyframes animateBg {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    .loader {
        position: relative;
        width: 120px;
        height: 120px;
        animation: animateBg;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        .i6{
            --i: 6;
        }

        .i7{
            --i: 7;
        }

        .i8{
            --i: 8;
        }
        .i9{
            --i: 9;
        }
        .i10{
            --i: 10;
        }
        .i11{
            --i: 11;
        }
        .i12{
            --i: 12;
        }
        .i13{
            --i: 13;
        }
        .i14{
            --i: 14;
        }
        .i15{
            --i: 15;
        }
        .i16{
            --i: 16;
        }
        .i17{
            --i: 17;
        }
        .i18{
            --i: 18;
        }
        .i19{
            --i: 19;
        }
        .i20{
            --i: 20;
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: rotate(calc(18deg * var(--i)));

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: calc(15px * (var(--i) / 20));
                height: calc(15px * (var(--i) / 20));
                border-radius: 50%;
            }
        }
    }
}

.darkLoad{
    background-color: $DarkModeBg;

    .loader span{
        &::before{
            background-color: $DarkModeText;
        }
    }
}

.lightLoad{
    background-color: $LightModeBg;

    .loader span{
        &::before{
            background-color: $LightModeText;
        }
    }
}





