@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Source+Sans+Pro:wght@300;400&display=swap');

.search{
    position: relative;
    input{
        padding: 1.5em 5em;
        @include buttons;
    }

    .searchIcon{
        position: absolute;
        left: 1.2em;
        top: 18.5px;
        font-size: 20px;
        margin-right: 1em;
    }

    .darkmode{
       @include darkmodeElement;

        &::placeholder{
            color: $DarkModeText;
            font-size: $HomeFont;
        }
    }

    .lightmode{
       @include lightmodeElement;

        &::placeholder{
            color: $LightModeText;
            font-size: $HomeFont;
        }
    }

    .darkmodeSearch{
        color: $DarkModeText;
    }

    .lightmodeSearch{
        color: $LightModeText;
    }
}

@media (max-width: 600px){
    .search{
        input{
            padding: 1em 4em;
        }
    
    }
}