//@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

//Colors
$DarkModeElements: hsl(209, 23%, 22%);
$DarkModeBg: hsl(207, 26%, 17%);
$LightModeText: hsl(200, 15%, 8%);
$LightModeInput: hsl(0, 0%, 52%);
$LightModeBg: hsl(0, 0%, 95%);
$DarkModeText: hsl(0, 0%, 100%);
$LightModeElements: hsl(0, 0%, 100%);

//font
$fontFamily: 'Nunito', sans-serif;
$HomeFont: 16px;
$DetailsFont: 24px;
